/* @font-face {
	font-family: Cyrvetica;
	src: url(../fonts/Cyrvetica.woff);
	font-weight: 400;
	font-display: swap;
} */


/* reset */

* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

a,
a:visited {
	display: inline-block;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

nav,
footer,
header,
aside,
main,
section {
	display: block;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
	background-color: transparent;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
}

a,
button {
	color: inherit;
}


button:focus.focus,
a:focus.focus,
/* input[type="radio"]:focus.focus +label:before, */
input[type="radio"]:focus.focus+label,
input[type="checkbox"]:focus.focus+label,
input[type="file"]:focus.focus+label {
	box-shadow: white 0 0 0 2px, lightskyblue 0 0 0 5px;
}

html {
	height: 100%;
	width: 100%;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
}


/* ===== grid ===== */

.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 10px;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
}

.row>* {
	flex: 0 0 100%;
	max-width: 100%;
	padding: 0 10px;
}


/* General settings */

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 1.86;
	/* line-height: 28px; */
	color: #5e5e5e;
}

body.lock {
	overflow: hidden;
}

.icon {
	display: inline-block;
	width: 36px;
	height: 36px;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

.img_cover {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
}

.visuallyhidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

.title_1,
.title_2 {
	font-family: Play;
	font-weight: 700;
	color: #20242d;
}

.title_1 {
	font-size: 34px;
	text-align: center;
	line-height: 1.1;
}

.title_2 {
	font-size: 30px;
	line-height: 1.2;
}

.subtitle {
	font-weight: 600;
	color: #4976f6;
	margin-bottom: 10px;
}

@media (min-width: 768px) {
	.title_1 {
		font-size: 50px;
	}

	.title_2 {
		font-size: 34px;
	}
}

@media (min-width: 1200px) {
	.title_1 {
		font-size: 60px;
	}

	.title_2 {
		font-size: 36px;
	}

	.subtitle {
		margin-bottom: 20px;
	}
}

/* ===== head ===== */

@media all {

	.main {
		flex: 1 0 auto;
	}

	.head {
		position: relative;
		padding-top: 10px;
	}

	.head__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	@media (min-width: 1200px) {
		.head {
			padding-top: 40px;
		}

		.head__container {
			position: static;
		}

		.head__top {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 40px;
			color: #70737a;
			background-color: #20242d;
		}

		.head-top__container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			max-width: 1200px;
			height: 100%;
			padding-right: 110px;
			padding-left: 10px;
			margin-right: auto;
			margin-left: auto;
		}
	}

	@media (min-width: 1850px) {
		.head {
			padding-top: 0px;
			border-bottom: 2px solid #f7f7f7;
		}

		.head__container {
			max-width: 100%;
			padding-right: 0;
		}

		.head__top {
			position: static;
			width: auto;
			height: 100%;
			color: #20242d;
			background-color: transparent;
		}

		.head-top__container {
			padding-right: 40px;
			padding-left: 10px;
			margin-right: auto;
			margin-left: auto;
			border-right: 2px solid #f7f7f7;

		}
	}


	.logo {
		position: relative;
		z-index: 3;
		display: flex;
		display: flex;
		align-items: center;
	}
	.logo__icon {
		width: 41px;
		height: 37px;
		margin-right: 10px;
	}

	.logo__text {
		font-family: Play;
		font-size: 22px;
		font-weight: 700;
		line-height: 18px;

		color: #20242d;
	}

	.logo__text span {
		color: #ff7129;
	}


	@media (min-width: 350px) {
		.logo__img {
			width: auto;
		}

		.logo__text {
			font-size: 22px;
		}
	}

	@media (min-width: 1850px) {
		.logo {
			padding: 0 40px;
		}
	}

	.logo__link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.head a {
		flex-shrink: 0;
	}


	/* ======= nav ======== */

	.nav {
		position: fixed;
		z-index: 3;
		top: 60px;
		left: -490px;
		width: 100%;
		max-width: 480px;
		height: calc(100% - 60px);
		padding: 10px;
		font-weight: 600;
		color: #20242d;
		background-color: #dadee0;
		overflow: auto;
		transition: left .3s ease 0s;
	}

	.nav.active {
		left: 0;
	}

	@media (min-width: 1200px) {
		.nav {
			position: static;
			display: flex;
			align-items: center;
			width: auto;
			max-width: none;
			height: 100%;
			padding: 0;
			overflow: visible;
			background-color: transparent;
		}
	}

	.nav__wrap {
		width: 100%;
	}

	@media (min-width: 1850px) {
		.nav {
			height: 70px;
			width: 100%;
			padding: 0 40px;
			border-left: 2px solid #f7f7f7;
		}

		.nav__wrap {
			margin-right: auto;
		}
	}




	/* ======= menu ======== */

	.menu {
		margin-bottom: 40px;
		font-size: 24px;

		/* background-color: #fd8904; */
	}

	@media (min-width: 1200px) {
		.menu {
			/* position: relative; */
			display: flex;
			margin-bottom: 0;
			font-size: 15px;
		}
	}

	.menu li {
		position: relative;
		padding-right: 20px;
		/* width: 150px; */
		transition: .1s ease 0s;
	}

	@media (min-width: 1200px) {
		.menu>li:not(:first-child) {
			margin-left: 30px;
		}
	}

	@media (pointer: fine),
	(min-width:0\0) {
		.menu>li:hover {
			color: #020eb9;
			/* background-color: #faba95; */
		}

		.menu li:hover>.menu_drop {
			display: block;
		}
	}

	.menu a {
		display: inline-block;
		padding: 10px 0px;
	}

	.menu__arrow {
		position: absolute;
		right: 2px;
		top: 15px;
		width: 8px;
		height: 8px;
		transform: rotate(45deg);
		border-left: 2px solid #000;
		border-bottom: 2px solid #000;
		transition: .1s ease 0s;
	}

	.menu__arrow.active {
		transform: rotate(-45deg);
	}

	@media (min-width: 1200px) {
		.menu__arrow {
			transform: rotate(-45deg);
		}

		.menu__arrow.active {
			transform: rotate(135deg);
		}

		.menu li:hover>.menu__arrow {
			transform: rotate(135deg);
		}
	}

	/* ===== 2 level ===== */

	.menu_drop {
		display: none;
		/* width: 100%; */
		color: #20242d;
		background-color: #fff;
	}

	@media (min-width: 1200px) {
		.menu_drop {
			position: absolute;
			top: 100%;
			left: 0px;
			/* margin-top: 0px; */
		}
	}

	.menu_drop.show {
		display: block;
	}

	.menu_drop li {
		position: relative;
	}

	@media (pointer: fine),
	(min-width:0\0) {
		.menu_drop>li:hover {
			color: #020eb9;
			/* background-color: #000; */
		}
	}

	.menu_drop a {
		padding-left: 30px;
	}

	@media (min-width: 1200px) {
		.menu_drop a {
			padding-left: 0px;
			white-space: nowrap;
		}
	}

	/* ===== menu-language ===== */

	.menu-lang {
		margin-bottom: 20px;
	}

	.menu-lang__inner {
		position: relative;
		display: flex;
		align-items: center;
	}

	.menu-lang__btn {
		display: flex;
		align-items: center;
		margin-right: 20px;
	}

	.icon_leng {
		width: 25px;
		height: 25px;
	}

	.menu-lang__arrow {
		display: none;
		width: 8px;
		height: 8px;
		transform: rotate(-45deg);
		border-left: 2px solid #70737a;
		border-bottom: 2px solid #70737a;
		transition: .1s ease 0s;
	}

	.menu-lang__btn.active .menu-lang__arrow {
		transform: rotate(135deg);
	}

	.menu-lang__list {
		/* display: none; */
		padding-top: 8px;
	}

	.menu-lang__list.show {
		display: block;
	}

	@media (pointer: fine),
	(min-width:0\0) {
		.menu-lang:hover .menu-lang__list {
			display: block;
		}

		.menu-lang:hover .menu-lang__arrow {
			transform: rotate(135deg);
		}
	}

	@media (min-width: 1200px) {
		.menu-lang {
			margin-bottom: 0;
		}

		.menu-lang__btn {
			margin-right: 0px;
		}

		.menu-lang__arrow {
			display: inline-block;
			margin-left: 10px;
		}

		.menu-lang__list {
			position: absolute;
			top: 100%;
			left: -10px;
			display: none;
			padding: 10px;
			background-color: #fff;
			box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
		}
	}

	@media (min-width: 1200px) {
		.menu-lang {
			padding-right: 40px;
		}
	}


	.email {
		margin-bottom: 20px;
	}

	@media (min-width: 1200px) {
		.email {
			margin-bottom: 0;
		}
	}

	@media (min-width: 1850px) {
		.email {
			order: 1;
			height: 100%;
			padding-left: 40px;
			line-height: 70px;
			border-left: 2px solid #f7f7f7;
		}
	}

	.icon_email {
		width: 18px;
		height: 14px;
		margin-right: 5px;
		vertical-align: middle;
	}

	@media (min-width: 1850px) {
		.icon_email {
			display: none;
		}
	}

	.head__wrap_link {
		flex-shrink: 0;
		margin-bottom: 20px;
	}

	.head__wrap_link a+a {
		margin-left: 10px;
	}

	.icon_link {
		width: 25px;
		height: 25px;
	}

	.tel {
		display: block;
		font-size: 18px;
		font-weight: 700;
	}

	@media (min-width: 1200px) {
		.head__wrap_link {
			margin-bottom: 0;
			margin-right: 15px;
		}
	}

	@media (min-width: 1850px) {
		.head__wrap_link {
			padding-left: 40px;
		}
	}

	@media (pointer: fine),
	(min-width:0\0) {
		.tel:hover {
			color: #020eb9;
		}

		.btn_modal:hover {
			background-color: #c44100;
		}

		.icon_link:hover {
			color: #c44100;
			opacity: .5;
		}

		.email:hover {
			color: #dad2d2;
		}

		@media (min-width: 1850px) {
			.email:hover {
				color: #020eb9;
			}
		}
	}




	.btn_modal {
		flex-shrink: 0;
		width: 40px;
		height: 40px;
		margin-left: auto;
		margin-right: 10px;
		color: #fff;
		background-color: #ff7129;
		box-shadow: 0px 10px 16px 0px rgba(255, 113, 41, 0.4);
	}

	.icon_phone1 {
		width: 25px;
		height: 25px;
	}

	@media (min-width: 1200px) {
		.btn_modal {
			position: relative;
			z-index: 3;
			width: 70px;
			height: 70px;
			margin-right: 0;
			margin-left: 0;
			margin-top: -20px;
		}

		.icon_phone1 {
			width: 30px;
			height: 30px;
		}
	}

	@media (min-width: 1850px) {
		.btn_modal {
			z-index: 0;
			margin-top: 0px;
		}
	}


	/* ===== burger ====== */

	.wrap__burger {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		background-color: #000;
	}

	.nav__burger {
		position: relative;
		z-index: 3;
		display: inline-block;
		width: 24px;
		height: 17px;
	}

	@media (min-width: 1200px) {
		.wrap__burger {
			display: none;
		}
	}

	.nav__burger::before,
	.nav__burger::after {
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 3px;
		left: 0;
		transition: .3s ease 0s;
	}

	.nav__burger::before {
		top: 0;
	}

	.nav__burger::after {
		bottom: 0;
	}

	.nav__burger.active::before {
		top: 7px;
		transform: rotate(45deg);
	}

	.nav__burger.active::after {
		bottom: 7px;
		transform: rotate(-45deg);
	}

	.nav__burger span {
		position: absolute;
		left: 0;
		width: 100%;
		height: 3px;
		top: 7px;
		background-color: #fff;
		transition: .3s ease 0s;
	}

	.nav__burger.active span {
		transform: scale(0);
	}



	/* ===== home ===== */

	.home__top {
		padding-top: 35px;
		padding-bottom: 25px;
		background: url(../img/home_bg1.jpg) no-repeat center / contain;
	}

	@media (min-width: 540px) {
		.home__top {
			padding-top: 55px;
			padding-bottom: 40px;
		}
	}

	.home__body {
		min-height: 510px;
		font-size: 16px;
		font-weight: 600;
		background: url(../img/home_bg_mob.jpg) no-repeat center / cover;
	}

	@media (min-width: 481px) {
		.home__body {
			background-image: url(../img/home_bg.jpg);
		}
	}

	.home-body__container {
		max-width: 400px;
	}

	.home-body__row {
		display: flex;
		flex-wrap: wrap;
		min-height: 70px;
	}

	@media (min-width: 992px) {
		.home-body__container {
			max-width: 1200px;
		}

		.home-body__row {
			flex-wrap: nowrap;
		}
	}


	.home__btn_modal,
	.home__link {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 70px;
		padding: 0 10px;
		letter-spacing: 0.025em;
		line-height: 20px;
		color: #ffffff;
		transition: .1s ease 0s;
	}

	.home__btn_modal {
		order: 1;
		background-color: #ff7129;
		box-shadow: 0px 10px 16px 0px rgba(255, 113, 41, 0.4);
	}

	.home__link {
		background-color: #20242d;
		box-shadow: 0px 10px 16px 0px rgba(31, 35, 45, 0.4);
	}

	@media (pointer: fine),
	(min-width:0\0) {
		.home__btn_modal:hover {
			background-color: #d15b20;
		}

		.home__link:hover {
			background-color: #0f2864;
		}
	}

	.home__text {
		width: 100%;
		min-height: 70px;
		padding: 0 10px;
		text-align: center;
		color: #5e5e5e;
		background-color: #fff;
	}

	.home__text span {
		display: inline-block;
		max-width: 440px;
	}

	@media (min-width: 992px) {

		.home__btn_modal,
		.home__link {
			width: 310px;
			flex-shrink: 0;
		}

		.home__btn_modal {
			order: 0;
		}
	}

	.icon_arrow {
		width: 21px;
		height: 21px;
		margin-left: 10px;
		transform: rotate(180deg);
	}
}


/* ===== servic ===== */

.servic {
	padding: 60px 0;
}

@media (min-width: 768px) {
	.servic {
		padding: 80px 0;
	}
}

@media (min-width: 1200px) {
	.servic {
		padding: 100px 0;
	}
}


.title__col {
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 30px;
}

@media (min-width: 768px) {
	.title__col {
		margin-bottom: 40px;
	}
}

.title__col::before {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 0px;
	display: block;
	width: 100px;
	height: 2px;
	background-color: #4976f6;
	;
}

.servic__wrap {
	max-width: 320px;
	margin: 0 auto;
}

.servic__col {
	padding-bottom: 20px;
}

@media (min-width: 540px) {
	.servic__wrap {
		max-width: 650px;
	}

	.servic__col {
		width: 50%;
		max-width: 50%;
	}
}

@media (min-width: 992px) {
	.servic__wrap {
		max-width: 100%;
	}

	.servic__col {
		flex: 0 0 25%;
		max-width: 25%;
	}
}


.servic__wrap_img {
	position: relative;
	width: 100%;
	/*для flex элемента*/
	padding-bottom: 115%;
}

.servic__svg {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	margin: -40px auto 20px auto;
	background-color: #4976f6;
	border: 2px solid #ffffff;
	border-radius: 50%;
}

.servic__icon {
	width: 36px;
	height: 36px;
	color: #ffffff;
}

.servic__title {
	font-family: Play;
	font-size: 22px;
	line-height: 20px;
	font-weight: 700;
	color: #20242d;
	text-align: center;
	margin-bottom: 20px;
}



/* ===== we ===== */

@media (min-width: 0px) {
	.we__left {
		padding: 50px 0px 40px 0px;
		background-color: #f7f7f7;
	}

	.we-left__container {
		padding: 0px 10px;
	}

	.we__right {
		padding: 70px 0px 40px 0px;
		background: url(../img/we_bg.jpg) no-repeat #20242d bottom left / 100%;
	}

	.we-right__container {
		padding: 0 10px;
	}

	@media (min-width: 768px) {
		.we {
			display: flex;
		}

		.we__left {
			flex: 1 1 710px;
			padding: 100px 0px 80px 0px;
		}

		.we-left__container {
			max-width: 710px;
			padding-right: 20px;
			margin-left: auto;
		}

		.we__right {
			flex: 1 1 490px;
			padding: 140px 0px 80px 0px;
		}

		.we-right__container {
			max-width: 490px;
			padding-left: 40px;
		}
	}

	.we__list {
		margin-bottom: 20px;
	}

	.list_arrow li {
		position: relative;
		padding-left: 40px;
	}

	.list_arrow li:not(:last-child) {
		margin-bottom: 10px;
	}

	.list_arrow li::before {
		content: "";
		position: absolute;
		top: 4px;
		left: 0;
		display: block;
		width: 21px;
		height: 21px;
		background: url(../icon.svg#icon-arrow1) no-repeat left / contain;
		transform: rotate(180deg);
	}


	.we__text {
		margin-bottom: 20px;
	}

	.we-right__list li {
		display: flex;
		margin-bottom: 36px;
	}

	.we-right__list svg {
		flex-shrink: 0;
		width: 40px;
		height: 40px;
		margin-top: 8px;
		margin-right: 20px;
		color: #70737a;
	}

	.we-right__list div {
		color: #f7f7f7;
	}

	.we-right__list span {
		display: block;
		margin-bottom: 20px;
		font-size: 17px;
		line-height: 20px;
		font-weight: 600;
		color: #ff7129;
	}

	.we__link {
		margin-left: 60px;
	}

	.btn {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		min-height: 50px;
		padding: 10px 30px;
		font-weight: 600;
		color: #ffffff;
		letter-spacing: 0.025em;
		background-color: #ff7129;
		box-shadow: 0px 10px 16px 0px rgba(255, 113, 41, 0.4);
		transition: .1s;
	}

	.btn .icon {
		flex-shrink: 0;
	}

	@media (pointer: fine),
	(min-width:0\0) {
		.btn:hover {
			background-color: #c9551a;
		}
	}
}



/* ===== tabs ===== */

@media all {
	.tabs {
		padding: 40px 0 20px;
	}

	@media (min-width: 768px) {
		.tabs {
			padding: 80px 0 60px;
		}
	}

	@media (min-width: 1200px) {
		.tabs {
			padding: 100px 0 80px;
		}
	}

	.tabs__col-4 {
		margin-bottom: 20px;
	}

	@media (min-width: 768px) {
		.tabs__col-4 {
			flex: 0 0 33.333333%;
			max-width: 33.333333%;
		}

		.tabs__col-8 {
			flex: 0 0 66.66667%;
			max-width: 66.66667%;
		}
	}


	.tabs__list-btn {
		padding-right: 10px;
	}

	.tabs__btn {
		display: flex;
		align-items: center;
		width: 100%;
		min-height: 70px;
		padding: 5px 30px;
		font-size: 17px;
		text-align: left;
		line-height: 20px;
		font-weight: 700;
		color: #20242d;
		background-color: #f7f7f7;
		transition: .1s;
	}

	.tabs__btn:not(:last-child) {
		border-bottom: 2px solid #fff;
	}

	.tabs__btn:not(:last-child).active {
		border-color: transparent;
	}

	.tabs__btn.active {
		position: relative;
		z-index: 1;
		font-weight: 700;
		color: #ffffff;
		background-color: #20242d;
		box-shadow: 0px 10px 16px 0px rgba(31, 35, 45, 0.4);
	}

	@media (pointer: fine),
	(min-width:0\0) {
		.tabs__btn:hover:not(.active) {
			background-color: #d3d3d3;
		}
	}

	.tabs__btn.active:before,
	.tabs__btn.active:after {
		content: "";
		position: absolute;
		right: 0;
		z-index: -1;
		height: 50.5%;
		width: 100%;
		background-color: #20242d;
	}

	.tabs__btn.active:before {
		top: 0;
		transform: skewx(14deg);
		transform-origin: top;
	}

	.tabs__btn.active:after {
		bottom: 0;
		transform: skewx(-14deg);
		transform-origin: bottom;
	}



	.tabs__box {
		position: relative;
		margin-bottom: 20px;
	}

	.tabs-box__row {
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.tabs-box__text {
		order: 1;
		display: flex;
		align-items: flex-end;
		min-height: 50px;
		padding-right: 20px;
		margin-right: 20px;
		padding-top: 10px;
		font-family: Play;
		font-size: 22px;
		line-height: 20px;
		font-weight: 700;
		color: #20242d;
		background-color: #fff;
	}

	@media (min-width: 540px) {
		.tabs-box__row {
			flex-direction: row;
			justify-content: space-between;
		}

		.tabs-box__text {
			order: 0;
		}
	}


	.tabs__text {
		margin-bottom: 20px;
	}

	.tabs__list {
		margin-bottom: 20px;
	}

	@media (min-width: 540px) {
		.tabs__list {
			width: 50%;
		}
	}
}



/* ===== last ===== */

@media all {
	.last {
		padding: 40px 0 20px;
	}

	@media (min-width: 768px) {
		.last {
			padding: 80px 0 60px;
		}
	}

	@media (min-width: 1200px) {
		.last {
			padding: 100px 0 80px;
		}
	}


	.last__wrap {
		max-width: 380px;
		margin: 0 auto;
	}

	.last__col {
		padding-bottom: 20px;
	}

	.last__wrap_img {
		position: relative;
		width: 100%;
		padding-bottom: 68.4%;
	}

	.last__desc {
		min-height: 150px;
		position: relative;
		margin: -65px 30px 0px 30px;
		padding: 30px 10px 50px 10px;
		text-align: center;
		background-color: #f7f7f7;
		border: 2px solid #ffffff;
	}


	@media (min-width: 600px) {
		.last__wrap {
			max-width: 680px;
		}

		.last__item {
			display: flex;
			align-items: center;
			/* height: 100%; */
		}

		.last__wrap_img {
			flex-shrink: 0;
			width: 50%;
			padding-bottom: 38.4%;
		}

		.last__wrap_desc {
			width: 50%;
		}

		.last__desc {
			min-height: 150px;
			margin: 30px 0px 0px -30px;
		}
	}


	@media (min-width: 992px) {
		.last__wrap {
			max-width: 100%;
		}

		.last__col {
			flex: 0 0 33.333333%;
			max-width: 33.333333%;
		}

		.last__item {
			flex-direction: column;
			height: 100%;
		}

		.last__wrap_img {
			width: 100%;
			padding-bottom: 68.4%;
		}

		.last__wrap_desc {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;
		}

		.last__desc {
			flex-grow: 1;
			margin: -65px 30px 0px 30px;
		}
	}


	.last__title {
		font-size: 17px;
		line-height: 1.2;
		font-weight: 700;
		color: #20242d;
	}

	.last__link {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 60px;
		height: 60px;
		margin: -30px auto 0 auto;
		color: #fff;
		border-radius: 50%;
		background-color: #20242d;
		box-shadow: 0px 10px 16px 0px rgba(31, 35, 45, 0.4);
		transition: .1s ease 0s;
	}

	.last__link .icon_arrow {
		margin-left: 0;
	}

	@media (pointer: fine),
	(min-width:0\0) {
		.last__item:hover .last__wrap_img {
			box-shadow: 0px 10px 16px 0px rgba(31, 35, 45, 0.4);
		}

		.last__item:hover .last__link {
			background-color: #ff7129;
			box-shadow: 0px 10px 16px 0px rgba(255, 113, 41, 0.4);
		}
	}
}


/* ===== query ===== */

@media all {
	.query__body {
		position: relative;
		z-index: 1;
		padding: 20px 10px;
		margin: 0 -10px;
		color: #fff;
		background: url(../img/bg_guery.jpg) #303640 no-repeat center / cover;
	}

	@media (min-width: 1200px) {
		.query__body {
			transform: translateY(50%);
		}
	}

	.query__row {
		align-items: center;
		justify-content: space-between;
	}

	.query__title {
		font-family: Play;
		font-size: 22px;
		line-height: 1.2;
		font-weight: 700;
		margin-bottom: 15px;
	}

	.query__title span {
		color: #ff7129;
		display: block;
	}

	.query__text {
		margin-bottom: 15px;
	}

	@media (min-width: 540px) {

		.query__col {
			flex: 0 0 50%;
			max-width: 50%;
		}
	}


	@media (min-width: 768px) {
		.query__body {
			padding: 33px 40px 35px;
		}

		.query__col {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}

	@media (min-width: 992px) {
		.query__row {
			flex-wrap: nowrap;
		}

		.query__col {
			flex: 0 1 auto;
			width: auto;
		}

		.query__text {
			margin-bottom: 0px;
		}
	}



	.form__item {
		position: relative;
		flex-shrink: 0;
		flex-grow: 1;
		margin-bottom: 20px;
	}

	@media (min-width: 768px) {
		.form_1 {
			display: flex;
		}

		.form__item--page {
			margin-bottom: 0;
		}

		.form__item--page:not(:last-child) {
			margin-right: 15px;
		}
	}

	.form__label {
		position: absolute;
		opacity: 0;
		top: 0px;
		left: 0px;
		display: flex;
		align-items: center;
		width: 100%;
		font-size: 12px;
		line-height: 1;
		font-weight: 500;
		color: #4976f6;
		white-space: nowrap;
		transform: translateY(-50%);
	}

	.form__label::before,
	.form__label::after {
		content: "";
		border-top: 2px solid #4976f6;
	}

	.form__label::before {
		width: 15px;
		margin-right: 10px;
	}

	.form__label::after {
		flex-grow: 1;
		margin-left: 10px;

	}

	.form__input:focus+.form__label {
		opacity: 1;
	}

	.form__input {
		display: block;
		width: 100%;
		padding: 0px 20px;
		height: 50px;
		font-weight: 500;
	}

	.form__input--page {
		color: #fff;
		background-color: #303640;
		border: 2px solid #70737a;
	}


	.form__input--page:focus {
		background-color: #303640;
	}

	.form__input:focus {
		border-top: none;
		border-color: #4976f6;
	}


	input[type="text"],
	input[type="email"],
	input[type="tel"],
	textarea {
		-webkit-appearance: none;
		/* appearance: none; */
	}

	textarea {
		resize: none;
	}

	input::placeholder {
		color: #70737a;
		opacity: 1;
	}

	input:focus::placeholder {
		/* color: transparent;	 */
	}

	.form__input--page:-webkit-autofill {
		-webkit-box-shadow: 0 0 0 70px #303640 inset;
		-webkit-text-fill-color: #fff;
	}

	input,
	textarea,
	[contenteditable] {
		caret-color: #70737a;
	}

	.form__input.invalid {
		border: 2.0px solid #ff0707;
	}

	.form__item .error {
		position: absolute;
		left: 0;
		bottom: 0;
		transform: translateY(100%);
		font-size: 10px;
		line-height: 22px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		color: #ff3838;
	}

	.btn_submit {
		width: 100%;
	}


	.map {
		height: 460px;
	}


	.query__link {
		background-color: #303640;
	}

	.query-link__list li {
		flex: 1 0 0%;
		border-bottom: 2px solid #20242d;
	}

	@media (min-width: 570px) {
		.query-link__list {
			display: flex;
		}

		.query-link__list li {
			flex: 1 0 0%;
			border-bottom: none;
			border-left: 2px solid #20242d;
		}

		.query-link__list li:last-child {
			border-right: 2px solid #20242d;
		}
	}

	.query-link__list a {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 70px;
		font-family: Play;
		font-size: 22px;
		font-weight: 700;
		color: #4976f6;
	}
}


/* ===== footer ===== */

@media all {
	.footer {
		flex: 0 0 auto;
		padding: 46px 0px 36px 0px;
		color: #70737a;
		background-color: #20242d;
	}

	.footer__row {
		justify-content: space-between;
		margin-bottom: 55px;
	}

	.footer__col-logo {
		order: 1;
	}

	.footer__col {
		margin-bottom: 35px;
		text-align: center;
	}
	.logo--footer {
		margin-bottom: 20px;
	}
	.logo__text--footer {
		color: #fff;
	}


	@media (min-width: 768px) {
		.footer__row {
			justify-content: center;
		}

		.footer__col {
			flex: 0 0 33.3333%;
			max-width: 33.3333%;
			text-align: left;
		}

		.footer__col-logo {
			text-align: center;
		}
	}

	@media (min-width: 992px) {
		.footer__col {
			flex: 0 0 25%;
			max-width: 25%;
			margin-bottom: 0;
		}

		.footer__col-logo {
			order: 0;
			text-align: left;
		}
	}

	.footer__logo {
		margin-bottom: 20px;
	}

	.footer__link {
		display: block;
		margin-bottom: 20px;
	}

	.socials__list {
		display: inline-flex;
	}

	.socials li {
		margin-right: 20px;

	}

	.socials li:last-child {
		margin: 0px;
	}

	.socials svg {
		width: 20px;
		height: 20px;
	}

	.footer__title {
		margin: 7px 0px 20px 0px;
		font-size: 17px;
		font-weight: 500;
		color: #ffffff;
	}

	.footer__list li {
		margin-bottom: 15px;
	}

	.footer__list li:last-child {
		margin: 0px;
	}

	.design {
		margin-bottom: 15px;
		font-weight: 300;
	}

	.design span {
		color: #ffffff;
	}

	.copy {
		font-weight: 300;
	}

}



/* ====  modal ===== */

@media all {
	.hidden {
		display: none
	}

	.no-scroll {
		overflow-y: auto !important;
	}

	.has-dialog {
		overflow: hidden;
	}


	/* modal backdrop */

	.dialog-backdrop {
		display: none;
		position: fixed;
		z-index: 100;
		overflow-y: auto;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		background: rgba(0, 0, 0, 0.8);
	}

	.dialog-backdrop.active {
		display: block;
	}

	/* modal window */

	[role="dialog"] {
		position: absolute;
		top: 70px;
		left: 50%;
		transform: translateX(-50%);
		padding-bottom: 10px;
		width: calc(100% - (15px * 2));
	}

	@media (min-width: 490px) {
		[role="dialog"] {
			width: calc(490px - (15px * 2));
		}
	}

	@media (min-width: 768px) {
		[role="dialog"] {
			top: 10%;
		}
	}

	.modal {
		padding: 15px;
		border: 1px solid #000;
		background-color: #fff;
		box-shadow: 0 19px 38px rgba(0, 0, 0, 0.12), 0 15px 12px rgba(0, 0, 0, 0.22);
	}

	.modal__btn-close {
		position: absolute;
		top: -50px;
		right: 0px;
		width: 50px;
		height: 50px;
		background-color: #4976f6;
	}

	.modal__icon-close {
		width: 14px;
		height: 14px;
		color: #ffffff;
	}

	.title_2--modal {
		font-size: 25px;
	}

	@media (min-width: 400px) {
		.title_2--modal {
			font-size: 36px;
		}
	}

	@media (min-width: 768px) {
		.modal {
			padding: 40px;
		}

		.modal__btn-close {
			top: 0px;
			right: -70px;
			width: 70px;
			height: 70px;
		}
	}

	.modal__text {
		margin-bottom: 30px;
	}

	.form__input--modal {
		margin-bottom: 20px;
		border: 2px solid #eaeaea;
		background-color: #f7f7f7;
	}

	.form__input--modal:focus {
		background-color: #f7f7f7;
		border-color: #4976f6;
	}

	.form__input--modal:-webkit-autofill {
		-webkit-box-shadow: 0 0 0 70px #f7f7f7 inset;
		-webkit-text-fill-color: #70737a;
	}

	.form__textarea {
		height: 90px;
		padding: 16px 20px;
	}

}




.overlay {
	position: fixed;
	z-index: 2;
	top: 60px;
	left: 0px;
	right: 0;
	bottom: 0;
	display: none;
	background-color: rgba(36, 57, 73, .6);
}

.overlay.active {
	display: block;
}



/* ===== up ===== */

.btn_up {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 5;
	display: none;
	width: 30px;
	height: 30px;
	border: 1px solid rgb(236, 188, 56);
	border-radius: 5px;
	background-color: #72635c;
	transition: .1s ease 0s;
}

.btn_up.show {
	display: block;
}

.icon_up {
	color: #fff;
	width: 17px;
	height: 17px;
	vertical-align: middle;
	transform: rotate(90deg);
}

@media (pointer: fine),
(min-width:0\0) {
	.btn_up:hover {
		background-color: #b3846e;
	}
}



/* ===== servic ===== */

.page-head {
	margin-top: 30px;
}

.title_1--left {
	text-align: left;
}


.breadcrumb {
	height: 20px;
	margin-bottom: 10px;
	overflow: auto;
}

.breadcrumb ul {
	display: flex;
	align-items: center;
	white-space: nowrap;
	font-size: 12px;
	color: #5e5e5e;
}

.breadcrumb li+li:before {
	content: "/";
	padding: 5px 10px;
}

.breadcrumb a {
	color: #4976f6;
}

@media (pointer: fine),
(min-width:0\0) {
	.breadcrumb a:hover {
		text-decoration: underline;
	}
}

.breadcrumb a:active {
	color: #008d36;
}

.page {

	font-size: 17px;
	line-height: 30px;
}

.page__img {
	margin-bottom: 55px;
}

.page__content {
	max-width: 980px;
	margin: 0 auto;
}

.page__title {
	margin-bottom: 31px;
}

.page__box {
	line-height: 30px;
	font-weight: 500;
	color: #20242d;
}

.page__box--bg {
	padding: 35px 10px;
	margin-bottom: 53px;
	background-color: #f7f7f7;
}

.mb_40 {
	margin-bottom: 31px;
}

.page__text1 {
	margin-bottom: 20px;
}

.page__text2 {
	margin-bottom: 20px;
}

.page__list {
	margin-bottom: 20px;
}

.page__box--quote {
	padding: 27px 10px;
	margin-bottom: 40px;
	border: 10px solid #f7f7f7;
	background: url(../img/servic/quote.png) no-repeat top 33px left 27px;
}


/* ===== video ===== */

.page__video {
	max-width: 480px;
	margin: 0 auto 40px auto;
}

.video {
	position: relative;
	height: 0;
	padding-bottom: 56.25%;
	background-color: #000000;
}

.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* border: none; */
}


/* ===== count ===== */

.count__left {
	padding: 100px 0;
	background-color: #f7f7f7;
}

.count-left__container {
	padding: 0px 10px;
}

.count__right {
	padding: 100px 0;
	color: #fff;
	background: url(../img/servic/bg-count.webp) no-repeat #20242d right 50px center;
}

.count-right__container {
	padding: 0 10px;
}

@media (min-width: 768px) {
	.count {
		display: flex;
	}

	.count__left {
		flex: 1 1 710px;
	}

	.count-left__container {
		max-width: 710px;
		padding-right: 20px;
		margin-left: auto;
	}

	.count__col-3 {
		flex: 0 0 42.85%;
		max-width: 42.85%;
	}

	.count__col-4 {
		flex: 0 0 57.15%;
		max-width: 57.15%;
	}

	.count__right {
		flex: 1 1 490px;
	}

	.count-right__container {
		max-width: 490px;
		padding-left: 90px;
	}
}

.text--oring {
	display: block;
	color: #ff7129;
}





.fieldset-1 {
	margin-bottom: 25px;
}

.legend {
	margin-bottom: 20px;
	color: #20242d;
	font-size: 17px;
	font-weight: 600;
	line-height: 20px;
}


.check__input,
.radio__input {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

.check__label,
.radio__label {
	position: relative;
	display: block;
	margin-bottom: 12px;
	padding-left: 37px;
	color: #5e5e5e;
	cursor: pointer;
}


.check__label:last-child,
.radio__label:last-child {
	margin: 0px;
}

.check__label::before,
.radio__label::before {
	content: '';
	position: absolute;
	left: 0;
	top: 2px;
	width: 20px;
	height: 20px;
	border: 2px solid #eaeaea;
}

.radio__label::before {
	border-radius: 50%;
}


.check__input:checked+.check__label:before {
	background: url(../icon.svg#icon-check) #ff7129 center/100%;
	border-color: #ff7129;
}


.radio__input:checked+.radio__label:before {
	background-color: #ff7129;
	border-color: #ff7129;
}

.radio__input:checked+.radio__label:after {
	content: '';
	display: block;
	width: 4px;
	height: 4px;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	left: 8px;
}




.namber {
	position: relative;
	width: 90%;
	color: #70737a;
}

.namber span {
	position: absolute;
	top: 10px;
	right: 20px;
}

.namber__input {
	-moz-appearance: textfield;
}

.namber__input::-webkit-inner-spin-button {
	display: none;
}

.namber__input {
	width: 100%;
	height: 50px;
	padding: 0px 50px 0px 20px;
	background-color: #f7f7f7;
	border: 2px solid #eaeaea;
}

.namber__input::placeholder {
	color: #70737a;
	font-weight: 500;
}

input[type="number"]:focus {
	box-shadow: 0 0 0 3px #d2e8ff;
	/* background-color: #ffffff; */
}


.count__form-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.file {}

.file__input {}


.visuallyhidden {}

.file__label {
	padding: 10px 5px;
}

.file__icon {}

.file__icon {
	width: 22px;
	height: 24px;
	vertical-align: middle;
}